html, body {
    font-family: system-ui;
}

.loaded-lazy, .loaded-lazy-2 {
    position: relative;
    overflow: hidden;
    outline: 1px solid #ffffff17;
}

.loaded-lazy::before {
    left: 0;
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    animation: light_lazy 1.5s ease infinite;
    background: linear-gradient(122deg, transparent 10%, #ffffff9a 30%, transparent 50%);
}

.text-top-lazy {
    height: 20px;
    width: 60%;
    border-radius: .5rem;
}

.hr-lazy {
    width: 100%;
    margin-top: 1.2%;
    height: 5px;
    border-radius: .5rem;
}

.wrapper-lazy {
    margin-top: 2%;
    gap:  1.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.card-lazy-load-detail {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    outline: 1px solid #ffffff17;
}
.card-lazy-load-detail::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    position: absolute;
    animation: light_lazy_2 1.5s ease infinite;
    background: linear-gradient(122deg, transparent, #ffffff9a, transparent);
    clip-path: polygon(0 20%, 100% 0, 100% 30%, 0 50%);
}

.top-text-lazy-detail, .bottom-text-lazy-detail {
    width: 100%;
    height: 20px;
    position: relative;
    outline: 1px solid #ffffff17;
    overflow: hidden;
}
.bottom-text-lazy-detail {
    height: 10px;
    margin-top: .5rem;
}

.top-text-lazy-detail::before, .bottom-text-lazy-detail::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    animation: light_lazy 1.5s ease infinite;
    background: linear-gradient(122deg, transparent 10%, #ffffff9a 30%, transparent 50%);
}

@media (max-width: 576px) {
    .wrapper-lazy, .container-hasil-pencarian, .container-lazy-load-detail {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 576px) {
    .wrapper-lazy, .container-hasil-pencarian {
        grid-template-columns: repeat(2, 1fr);
    }
    .container-lazy-load-detail {
        grid-template-columns: 1fr 2fr;
    }
}
@media (min-width: 768px) {
    .wrapper-lazy, .container-hasil-pencarian {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 992px) {
    .wrapper-lazy, .container-hasil-pencarian {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1200px) {
    .wrapper-lazy, .container-hasil-pencarian {
        grid-template-columns: repeat(5, 1fr);
    }
}

.card-lazy {
    width: 100%;
    height: 200px;
    border-radius: .5rem;
}

.loaded-lazy-2::before {
    left: 0;
    content: '';
    width: 100%;
    top: 0;
    min-height: 100%;
    position: absolute ;
    animation: light_lazy_2 1.5s ease infinite;
    background: linear-gradient(122deg, transparent, #ffffff9a, transparent);
    clip-path: polygon(0 20%, 100% 0, 100% 30%, 0 50%);
}

@keyframes light_lazy {
    to {
        left: 100%;
    } 
}
@keyframes light_lazy_2 {
    0% {opacity: .5;}
    to {
        opacity: 0;
        top: 100%;
    } 
}